apiVersion: apps/v1
kind: Deployment
metadata:
  name: gateway
  namespace: fintech-ecosystem
  labels:
    app: gateway
spec:
  replicas: 2
  selector:
    matchLabels:
      app: gateway
  template:
    metadata:
      labels:
        app: gateway
    spec:
      containers:
      - name: gateway
        image: microservice:latest
        imagePullPolicy: IfNotPresent
        env:
        - name: SERVICE_NAME
          value: "gateway"
        - name: REDIS_ADDR
          value: "redis:6379"
        - name: AUTH_SERVICE_URL
          value: "http://auth:8081"
        - name: PAYMENT_SERVICE_URL
          value: "http://payments:8082"
        - name: LEDGER_SERVICE_URL
          value: "http://ledger:8083"
        ports:
        - containerPort: 8080
        resources:
          limits:
            cpu: "1000m"
            memory: "1Gi"
          requests:
            cpu: "200m"
            memory: "256Mi"
---
apiVersion: v1
kind: Service
metadata:
  name: gateway
  namespace: fintech-ecosystem
spec:
  type: LoadBalancer # Expose externally usually
  selector:
    app: gateway
  ports:
  - port: 80
    targetPort: 8080
