apiVersion: apps/v1
kind: Deployment
metadata:
  name: ledger
  namespace: fintech-ecosystem
  labels:
    app: ledger
spec:
  replicas: 2
  selector:
    matchLabels:
      app: ledger
  template:
    metadata:
      labels:
        app: ledger
    spec:
      containers:
      - name: ledger
        image: microservice:latest
        imagePullPolicy: IfNotPresent
        env:
        - name: SERVICE_NAME
          value: "ledger"
        - name: DB_DSN
          value: "postgres://user:password@postgres:5432/ledger?sslmode=disable"
        ports:
        - containerPort: 8083
        resources:
          limits:
            cpu: "500m"
            memory: "512Mi"
          requests:
            cpu: "100m"
            memory: "128Mi"
---
apiVersion: v1
kind: Service
metadata:
  name: ledger
  namespace: fintech-ecosystem
spec:
  selector:
    app: ledger
  ports:
  - port: 8083
    targetPort: 8083
